* {
    text-align: center;
}

.containerAll {
    margin-top:20%;
    align-items: center;
}

#containerGrid {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    border-style: solid;
}

.grid {
    background-color: teal;
}

.grid.hover {
    background-color: red;
}

button {
    margin-bottom: 20px;
}