* {
    text-align: center;
}

.containerAll {
    margin-top:10%;
    align-items: center;
}

#containerGrid {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    border-style: solid;
}

.grid {
    background-color: rgb(190, 190, 190);
}

.grid.hover {
    background-color: rgb(91, 89, 89);
}

button {
    margin-bottom: 20px;
}